/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_3 {
            bindings = <
&trans  &kp Q  &kp W  &kp F     &kp P     &kp B        &kp J      &kp L   &kp U      &kp Y    &kp SEMI  &trans
&trans  &kp A  &kp R  &kp S     &kp T     &kp G        &kp M      &kp N   &kp E      &kp I    &kp O     &trans
&trans  &kp Z  &kp X  &kp C     &kp D     &kp V        &kp K      &kp H   &kp COMMA  &kp DOT  &kp FSLH  &trans
                      &kp LGUI  &kp LALT  &kp SPACE    &kp ENTER  &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
